#content {
  padding: 250px 25% 0 25%;
}

#portrait {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 100px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name, #description{
  text-align: center;
}

#name {
  font-family: "Times New Roman";
}
#description {
  font-weight: lighter;
  font-family: 华文行楷;
  font-size: medium;
}

.nav {
  margin-top: 20px;
  display: inline-block;
  width: 33%;
  padding: 0 auto;
}

.nav img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#footer {
  width: 50%;
  position: fixed;
  bottom: 0;
}

#footer > h5 {
  text-align: center;
  font-weight: lighter;
  font-family: Consolas;
}

#footer > h5 > a {
  text-decoration: none;
}
